/* General styling for the entire page */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e1e8ed;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* Styling for the main container */
.container-box {
  background-color: #f5ece3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
}

/* Hover effect on the main container */
.container-box:hover {
  box-shadow: 0 0 5px #000;
}

/* Styling for the inner content container */
.container {
  max-width: 600px;
  margin: 20px;
  padding: 30px;
  text-align: center;
}

/* Heading styles */
h2 {
  color: #2d3940;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

/* Styling for the input container */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Styling for input field */
input {
  flex: 1;
  padding: 15px;
  border: 2px solid #b9c8d2;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

/* Hover effect on input field */
input:hover {
  box-shadow: 0 0 1px #000;
  border-color: #527ba0;
  background-color: hsl(208, 17%, 81%, 0.2);
}

/* Styling for the search button */
button {
  padding: 15px 30px;
  background-color: #e07a5f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease, box-shadow 0.3s ease;
  margin-left: 1rem;
  font-size: 1.1rem;
}

/* Hover effect on the search button */
button:hover {
  background-color: #fff;
  box-shadow: 0 0 5px #e07a5f;
  color: #e07a5f;
}

/* Styling for the result list */
.list {
  list-style: none;
  padding: 0;
  text-align: left;
}

/* Styling for each result item in the list */
.list li {
  background-color: #f5ece3;
  padding: 15px;
  border: 1px solid #c5ced6;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 3px #c5ced6;
  transition: 0.3s ease;
}

/* Hover effect on each result item in the list */
.list li:hover {
  background-color: #c5ced6;
  box-shadow: 0 0 5px #e07a5f;
}

/* Style the dropdown options */
input::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

/* Styling for the dropdown options */
datalist option {
  background-color: #f5ece3;
  padding: 8px;
  border: 1px solid #c5ced6;
  border-radius: 4px;
  margin: 2px;
}

/* Styling for the datalist */
datalist {
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}
